name: run-simple-use-case

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  run-pydoit:
    runs-on: ubuntu-latest

    steps:
      - name: checkout-repository
        uses: actions/checkout@v2

      - name: install-basic-deps
        uses: ./.github/actions/install-basic-deps

      - name: setup-conda-environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: simple_use_case/source/envs/default_env.yaml
          miniforge-version: latest
          activate-environment: simple_use_case

      - name: run-workflow
        shell: bash -l {0}
        run: |
          conda install --channel conda-forge doit=0.33.1
          cd $GITHUB_WORKSPACE/simple_use_case/pydoit
          doit

      - name: upload-paper-artifact
        uses: actions/upload-artifact@v2
        with:
          name: paper
          path: ./simple_use_case/pydoit/paper.pdf
          retention-days: 1
          if-no-files-found: error

  run-cwl:
    runs-on: ubuntu-latest

    steps:
      - name: checkout-repository
        uses: actions/checkout@v2

      - name: install-basic-deps
        uses: ./.github/actions/install-basic-deps

      - name: setup-conda-environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: simple_use_case/source/envs/default_env.yaml
          miniforge-version: latest
          activate-environment: simple_use_case

      - name: run-workflow
        shell: bash -l {0}
        run: |
          conda install --channel conda-forge cwltool
          cd $GITHUB_WORKSPACE/simple_use_case/cwl
          cwltool wf_run_use_case.cwl

      - name: upload-paper-artifact
        uses: actions/upload-artifact@v2
        with:
          name: paper
          path: ./simple_use_case/cwl/paper.pdf
          retention-days: 1
          if-no-files-found: error


  run-nextflow:
    runs-on: ubuntu-latest

    steps:
      - name: checkout-repository
        uses: actions/checkout@v2

      - name: install-basic-deps
        uses: ./.github/actions/install-basic-deps

      - name: setup-conda-environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-version: latest
          activate-environment: simple_use_case

      - name: run-workflow
        shell: bash -l {0}
        run: |
          conda install --channel bioconda nextflow=21.04.0
          cd $GITHUB_WORKSPACE/simple_use_case/nextflow
          nextflow run simplecase.nf

      - name: upload-paper-artifact
        uses: actions/upload-artifact@v2
        with:
          name: paper
          path: ./simple_use_case/nextflow/paper.pdf
          retention-days: 1
          if-no-files-found: error


  run-snakemake:
    runs-on: ubuntu-latest

    steps:
      - name: checkout-repository
        uses: actions/checkout@v2

      - name: install-basic-deps
        uses: ./.github/actions/install-basic-deps

      - name: setup-conda-environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-version: latest
          activate-environment: simple_use_case
          channels: conda-forge,bioconda

      - name: run-workflow
        shell: bash -l {0}
        run: |
          conda install snakemake
          cd $GITHUB_WORKSPACE/simple_use_case/snakemake
          snakemake --cores 1 --use-conda --conda-frontend conda ./paper.pdf

      - name: upload-paper-artifact
        uses: actions/upload-artifact@v2
        with:
          name: paper
          path: ./simple_use_case/snakemake/paper.pdf
          retention-days: 1
          if-no-files-found: error

  run-kadistudio:
    runs-on: ubuntu-latest

    steps:
      - name: checkout-repository
        uses: actions/checkout@v2

      - name: install-basic-deps
        uses: ./.github/actions/install-basic-deps

      - name: setup-conda-environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: simple_use_case/source/envs/default_env.yaml
          miniforge-version: latest
          activate-environment: simple_use_case

      - name: run-workflow
        shell: bash -l -i {0}
        run: |
          bash $GITHUB_WORKSPACE/simple_use_case/kadistudio/install_components.sh
          mkdir $GITHUB_WORKSPACE/run
          process_engine run $GITHUB_WORKSPACE/simple_use_case/kadistudio/simple_use_case.flow -p $GITHUB_WORKSPACE/run

      - name: upload-paper-artifact
        uses: actions/upload-artifact@v2
        with:
          name: paper
          path: ./simple_use_case/kadistudio/paper.pdf
          retention-days: 1
          if-no-files-found: error